.Body li {
    border: 1px solid black;
    p{
        margin: 8px auto;

        &:first-child{
            position: relative;
            background-color: $color-font;
            color: $color-White;
            font-family: $font-number;
            border-radius: 50%;
            padding: 0.25%;

            &::after{
                @include after-before;
                right: 0;
            }
    
            &::before{
                @include after-before;
                left: 0;
            }    
        }

        &:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;

        }
    
        &:last-child{
            font-family: $font-number;
            color: $color-font;
        }
    }
}


@media screen and (min-width:576px) {
    .Body li {
        width: calc(100% / 4 - 2px);

        p{
            font-size: 14.5px;
            &:first-child{
                width: 85%;
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .Body li {
        width: calc(100% / 5 - 2px);
        p{
            font-size: 16px;
            &:first-child{
                font-size: 17px;
            }
        }
    }
}

@media screen and (min-width:992px) {
    .Body li {
        width: calc(100% / 6 - 2px);
        
        p{
            &:first-child{
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .Body li {
        width: calc(100% / 7 - 2px);
    }
}



@media screen and (min-width:1350px) {
    .Body li {
        width: calc(100% / 7 - 2px);
    }
}



@media screen and (min-width:1500px) {
    .Body li {
        width: calc(100% / 8 - 2px);
        p{
            &:first-child{
                font-size: 18.5px;
            }
        }
    }
}


@media screen and (min-width:1700px) {
    .Body li {
        width: calc(100% / 8 - 2px);
        
        p{
            font-size: 17.5px;
            &:first-child{
                font-size: 19.5px;
                margin: 8px auto;
            }
            &:nth-child(2){
                margin: 8px 0;
            }
            &:last-child{
                margin: 10px 0;
            }
        }
    }
   
}

@media screen and(min-Width :1850px) {
    .Body li {
        width: calc(100% / 8 - 2px);
    }
}


@media screen and (min-width:660px) {
    #hidden {
        display: none;
    }
}


// Height Style
// Important for Monitor size

@media screen and(min-height : 850px) {
    ul{
        height: calc(100vh - 150px);
    }
    li{
        height: calc((100vh - 160px) / 5);
    }
}