@font-face {
    font-family: samim;
    src: url('../font/Samim.woff');
}

*{
    @include No_Padding_Margin;
    font-family: $font-main;
    
    body {
        overflow-x: hidden; 
        font-weight: bold ;
    }

    img {
        width: 100%;
        height: auto;
    }
}



::-webkit-scrollbar{
    display: none;
}

section {
    width: 98%;
    height: auto;
    margin: 0.5% auto;
    overflow-x: hidden;
    border: 5px ridge #646464;
}

#Header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
    background-color: $color-White;
}

.Body {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content: flex-start;
    width: 100%;
    font-family: samim;
    background-color: #adadad;

}

#Footer {
    width: 100%;
    height: 55px;
    border: 1px solid #a1a1a1;
    background-color: $color-White;
}

